.radioNeutralYesFlag.radioNeutralYesFlag {
  position: absolute;
  left: 0;
  top: 0;
}
.radioNeutralNo.radioNeutralNo {
  position: absolute;
  left: 77px;
  top: 0;
}
.radioNeutralNo2.radioNeutralNo2 {
  position: absolute;
  left: 77px;
  top: 1px;
}
.radioActiveFlagged.radioActiveFlagged {
  position: absolute;
  left: 0;
  top: 0;
}
.checkBoxDiv {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 10px; /* Adjust gap between checkboxes */
}
.checkboxNeutral {
  position: relative;
  left: 35px;
  top: 47px;
}
.checkboxNeutral input {
  width: 20px;
  height: 20px;
}
.checkboxNeutral label {
  margin-left: 10px;
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  /* position: absolute;
  right: 0;
  top: 10%;
  bottom: 5%; */
  height: min-content;
  flex-direction: column;
}
.checkboxNeutral2.checkboxNeutral2 {
  position: absolute;
  left: 35px;
  top: 92px;
}
.checkboxNeutral3.checkboxNeutral3 {
  position: absolute;
  left: 512px;
  top: 47px;
}
.checkboxNeutral4.checkboxNeutral4 {
  position: absolute;
  left: 512px;
  top: 92px;
}
.root {
  position: relative;
  width: 1025px;
  height: 123px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f0f9;
}
.rectangle84 {
  position: relative;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  top: 99%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: #d9d5ec;
}
.frame18 {
  flex: 15;
  /* text-align: right;
  left: 899px;
  top: 9px;
  width: 107px;
  height: 41px;
  flex-direction: column;
  align-items: flex-start; */
}
.frame13 {
  display: block;
  flex: 85;
  width: 100%;
  height: 100%;
  /* position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 3.252%;
  flex-direction: column;
  align-items: flex-start; */
}
.loremIpsumDolorSitAmetConsecte {
  position: absolute;
  left: 14px;
  top: 12px;
  width: 890px;
  height: min-content;
  flex-direction: column;
}
.list {
  font-size: 14px;
}
.list ::marker {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock {
  position: absolute;
  left: 16px;
  top: 12px;
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.radioOption {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  color: #272340;
  font-size: 12px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Inter, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: min-content;
  text-align: center;
  align-items: center;
}
.radioOption input {
  margin-top: 5px;
  width: 20px;
  height: 20px;
}
.radioOptionRed {
  color: #d30000;
}
.radioOptionRed input{
  accent-color: #D30000;
}
.qContent {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.qContentRed {
  background: rgba(211, 0, 0, 0.1);
  border-left: 5px solid #D30000;
}