.radioNeutralYesFlag.radioNeutralYesFlag {
  position: absolute;
  left: 0;
  top: 0;
}
.radioNeutralNo.radioNeutralNo {
  position: absolute;
  left: 77px;
  top: 0;
}
.radioNeutralNo2.radioNeutralNo2 {
  position: absolute;
  left: 77px;
  top: 1px;
}
.radioActiveFlagged.radioActiveFlagged {
  position: absolute;
  left: 0;
  top: 0;
}
.root {
  position: relative;
  width: 1025px;
  height: 136px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f0f9;
}
.rectangle84 {
  position: absolute;
  left: 0;
  right: -0.091%;
  top: 99.9156%;
  bottom: -0.7353%;
  background-color: #d9d5ec;
}
.frame19 {
  flex: 15;
  /* position: absolute;
  left: 899px;
  top: 9px;
  width: 107px;
  height: 41px;
  flex-direction: column;
  align-items: flex-start; */
}
.rectangle195 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1025px;
  height: 136px;
  background-color: #ffe0e0;
}
.rectangle98 {
  position: absolute;
  left: 0;
  right: 99.5761%;
  top: 0;
  bottom: 0;
  background-color: #d30000;
}
.frame31 {
  position: absolute;
  right: 19px;
  top: 8px;
  width: 107px;
  height: 42px;
  flex-direction: column;
  align-items: flex-start;
}
.frame13 {
  display: flex;
  flex-direction: row;
  flex: 85;
  width: 100%;
  height: 100%;
  /* position: absolute;
  left: 1.2727%;
  right: 16.7273%;
  top: 8.8235%;
  bottom: 19.8529%; */
}
.rectangle196 {
  position: absolute;
  left: 0;
  top: 27px;
  width: 871px;
  height: 70px;
  background-color: #f2f0f9;
  box-shadow: 0px 4px 4px -2px #00000040;
}
.clickToInsertText {
  color: #8b83ba3d;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 12px;
  top: 30px;
  width: 890px;
  height: 64px;
  flex-direction: column;
}
.loremIpsumDolorSitAmetConsecte {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16px;
  width: auto;
  height: min-content;
}
.qContent {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.qContentRed {
  background: rgba(211, 0, 0, 0.1);
  border-left: 5px solid #D30000;
}
.radioOption {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  color: #272340;
  font-size: 12px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Inter, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: min-content;
  text-align: center;
  align-items: center;
}
.radioOption input {
  margin-top: 5px;
  width: 20px;
  height: 20px;
}
.radioOptionRed {
  color: #d30000;
}
.radioOptionRed input{
  accent-color: #D30000;
}
.divComment {
  position: absolute;
  left: 20px;
  top: 40px;
}
.commentArea {
  width: 820px;
  height: 100px;
  resize: none;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Inter, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}