.yesNoQ.yesNoQ {
  width: initial;
  align-self: stretch;
}
.radioNeutralYesFlag.radioNeutralYesFlag.radioNeutralYesFlag {
  position: absolute;
  left: 0.9964px;
  top: 0;
}
.radioNeutralNo.radioNeutralNo.radioNeutralNo {
  position: absolute;
  left: 77.9964px;
  top: 0;
}
.loremIpsumDolorSitAmetConsecte {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 806px;
  height: min-content;
  flex-direction: column;
}
.list {
  font-size: 14px;
}
.list ::marker {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.yesNoQ2.yesNoQ2 {
  width: initial;
  align-self: stretch;
}
.radioNeutralYesFlag2.radioNeutralYesFlag2.radioNeutralYesFlag2 {
  position: absolute;
  left: 0.9964px;
  top: 0;
}
.radioNeutralNo2.radioNeutralNo2.radioNeutralNo2 {
  position: absolute;
  left: 77.9964px;
  top: 0;
}
.loremIpsumDolorSitAmetConsecte2 {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 806px;
  height: min-content;
  flex-direction: column;
}
.list2 {
  font-size: 14px;
}
.list2 ::marker {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.yesNoQ3.yesNoQ3 {
  width: initial;
  align-self: stretch;
}
.radioNeutralYesFlag3.radioNeutralYesFlag3.radioNeutralYesFlag3 {
  position: absolute;
  left: 0.9964px;
  top: 0;
}
.radioNeutralNo3.radioNeutralNo3.radioNeutralNo3 {
  position: absolute;
  left: 77.9964px;
  top: 0;
}
.loremIpsumDolorSitAmetConsecte3 {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 806px;
  height: min-content;
  flex-direction: column;
}
.list3 {
  font-size: 14px;
}
.list3 ::marker {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.yesNoQ4.yesNoQ4 {
  width: initial;
  align-self: stretch;
}
.radioNeutralYesFlag4.radioNeutralYesFlag4.radioNeutralYesFlag4 {
  position: absolute;
  left: 0.9964px;
  top: 0;
}
.radioNeutralNo4.radioNeutralNo4.radioNeutralNo4 {
  position: absolute;
  left: 77.9964px;
  top: 0;
}
.loremIpsumDolorSitAmetConsecte4 {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 806px;
  height: min-content;
  flex-direction: column;
}
.list4 {
  font-size: 14px;
}
.list4 ::marker {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.yesNoQ5.yesNoQ5 {
  width: initial;
  align-self: stretch;
}
.radioNeutralYesFlag5.radioNeutralYesFlag5.radioNeutralYesFlag5 {
  position: absolute;
  left: 0.9964px;
  top: 0;
}
.radioNeutralNo5.radioNeutralNo5.radioNeutralNo5 {
  position: absolute;
  left: 77.9964px;
  top: 0;
}
.loremIpsumDolorSitAmetConsecte5 {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 806px;
  height: min-content;
  flex-direction: column;
}
.list5 {
  font-size: 14px;
}
.list5 ::marker {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.radioActiveFlagged.radioActiveFlagged {
  position: absolute;
  left: 897.4397px;
  top: 8px;
  width: 27.9329px;
}
.icon {
  width: 100%;
  height: 100%;
}
.checkboxNeutral.checkboxNeutral {
  position: absolute;
  left: 21px;
  top: 35px;
}
.amount {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 7.1926%;
  right: 0;
  top: 10%;
  bottom: 5%;
  height: min-content;
  flex-direction: column;
}
.checkboxNeutral2.checkboxNeutral2 {
  position: absolute;
  left: 21px;
  top: 80px;
}
.amount2 {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 7.1926%;
  right: 0;
  top: 10%;
  bottom: 5%;
  height: min-content;
  flex-direction: column;
}
.checkboxNeutral3.checkboxNeutral3 {
  position: absolute;
  left: 21px;
  top: 130px;
}
.amount3 {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 7.1926%;
  right: 0;
  top: 10%;
  bottom: 5%;
  height: min-content;
  flex-direction: column;
}
.checkboxNeutral4.checkboxNeutral4 {
  position: absolute;
  left: 498px;
  top: 35px;
}
.amount4 {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 7.1926%;
  right: 0;
  top: 10%;
  bottom: 5%;
  height: min-content;
  flex-direction: column;
}
.checkboxNeutral5.checkboxNeutral5 {
  position: absolute;
  left: 498px;
  top: 80px;
}
.amount5 {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 7.1926%;
  right: 0;
  top: 10%;
  bottom: 5%;
  height: min-content;
  flex-direction: column;
}
.checkboxNeutral6.checkboxNeutral6 {
  position: absolute;
  left: 498px;
  top: 130px;
}
.amount6 {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 7.1926%;
  right: 0;
  top: 10%;
  bottom: 5%;
  height: min-content;
  flex-direction: column;
}
.radioNeutralYesFlag6.radioNeutralYesFlag6 {
  position: absolute;
  left: 0;
  top: 0;
}
.radioNeutralNo6.radioNeutralNo6 {
  position: absolute;
  left: 77px;
  top: 0;
}
.root {
  position: relative;
  width: 1054px;
  height: 640px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle98 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1054px;
  height: 640px;
  border-radius: 8px;
  background-color: #f2f0f9;
}
.acuteAndModifiableConditions {
  color: #272340;
  font-size: 14px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 29px;
  top: 14px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame28 {
  position: absolute;
  left: 29px;
  top: 62px;
  width: 1025px;
  height: min-content;
  flex-direction: column;
  gap: 20px;
}
.mCQ {
  position: relative;
  height: 170px;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f0f9;
}
.rectangle84 {
  position: absolute;
  left: 0;
  right: 0;
  top: 99.4118%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: #d9d5ec;
}
.frame13 {
  position: absolute;
  left: 1.2739%;
  right: 14.1947%;
  top: 0;
  bottom: 11.7647%;
  flex-direction: column;
  align-items: flex-start;
}
.requireAnyOfTheFollowingProced {
  position: absolute;
  left: 0;
  top: 0;
  width: 890px;
  height: min-content;
  flex-direction: column;
}
.list6 {
  font-size: 14px;
}
.list6 ::marker {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.frame23 {
  position: absolute;
  left: 896px;
  top: 9px;
  width: 107px;
  height: 41px;
  flex-direction: column;
  align-items: flex-start;
}
