.navigationRail.navigationRail {
  left: 0;
  top: 67px;
  width: 72px;
  height: 1999px;
}
.icon {
  width: 100%;
  height: 100%;
}
.patients {
  color: #1d1b20;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.label {
  color: #49454f;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.label2 {
  color: #49454f;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.label3 {
  color: #49454f;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1196px;
  height: 832px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  outline: solid 8px #cac4d0;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.content {
  /* left: 76px;
  right: 12px;
  height: 1295px;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-radius: 28px; */
  background-color: #fff;
}
.All{
  flex-grow: 1; /* Allow the scrollableContent to take up available space */
  max-height: 800px; /* Set a max-height to make it scrollable */
  overflow: auto; /* Enable scrolling for overflow content */
  margin-left: 0px;
  margin-top: 20px;
}
.patientSocial{
  flex-grow: 1; /* Allow the scrollableContent to take up available space */
  max-height: 760px; /* Set a max-height to make it scrollable */
  overflow: auto; /* Enable scrolling for overflow content */
  margin-left: 70px;
  margin-top: 60px;
}
.chromeBrowserBar {
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
  height: min-content;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: #fef7ff;
  box-shadow: 0px 0.5937px 0px 0px #00000026, inset 0px -0.5937px 0px 0px #0000000d;
}
.icons {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
}
.back {
  width: 24px;
  height: 24px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.forward {
  width: 24px;
  height: 24px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.refresh {
  width: 24px;
  height: 24px;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.addressBar {
  height: min-content;
  flex: 1;
  align-items: center;
  gap: 10px;
  padding: 6px 16px;
  border-radius: 46.08px;
  background-color: #f3edf7;
  overflow: hidden;
}
.uRL {
  height: min-content;
  flex: 1;
  align-items: center;
  gap: 8px;
}
.lock {
  width: 15.36px;
  height: 15.36px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.text {
  color: #1d1b20;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.star {
  width: 20px;
  height: 20px;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.avatar {
  position: relative;
  width: 28px;
  height: 28px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 109.0909px;
  background-color: #79747e;
  overflow: hidden;
}
.m {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  left: calc(50% - -0.1819px);
  top: calc(50% - -0.8184px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.more {
  width: 24px;
  height: 24px;
}
.icon10 {
  width: 100%;
  height: 100%;
}
