.root {
  position: relative;
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.icon {
  position: absolute;
  left: 16.6667%;
  right: 16.6667%;
  top: 8.3333%;
  bottom: 8.3333%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
