.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.shapeMore {
  position: absolute;
  left: 39.25%;
  right: 39.3214%;
  top: 0%;
  bottom: 0%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
